extends layout

block content

	div.navbar.navbar-default.navbar-fixed-top
		div.container-fluid
			a.navbar-brand(href="#") epl-translate
	
	div.container
		div.row
			nav
				form#searchform
					span Source Language:
					div.btn-group
						btn.lang-select.btn.btn.default.dropdown-toggle(type="button" data-toggle="dropdown") de_DE
							span.caret
						ul.dropdown-menu(role="menu")
							li
								a(href="#") de_DE
								a(href="#") en_US
					input#searchinput(type="text" required="required" value="Klemme" placeholder="Search")
					button.btn.btn-default-btn-md#searchbutton(type="submit") Search

	div
		table#resulttable.table.table-hover
		
				
	script(src="javascript/main.js")